appdirs==1.4.4
arandr==0.1.10
asn1crypto==1.4.0
attrs==20.3.0
awscli==1.19.1
beautifulsoup4==4.9.3
botocore==1.20.0
certifi==2020.6.20
chardet==4.0.0
click==7.1.2
colorama==0.4.4
construct==2.10.58
cryptography==3.3.2
cycler==0.10.0
dbus-python==1.2.16
distlib==0.3.1
distro==1.5.0
docutils==0.16
ecdsa==0.16.1
evdev==1.4.0
filelock==3.0.12
flake8==3.8.4
greenlet==0.4.17
hidapi==0.9.0.post3
html5lib==1.1
httpie==2.2.0
httplib2==0.18.1
idna==2.10
importlib-metadata==1.6.0
iotop==0.6
jedi==0.17.2
jmespath==0.10.0
kiwisolver==1.3.2
libusb1==1.9.1
lxml==4.6.3
matplotlib==3.4.3
mccabe==0.6.1
mechanize==0.4.5
memoization==0.4.0
mercurial==5.6.1
Mirage==0.11.1
mnemonic==0.19
more-itertools==4.2.0
msgpack==1.0.0
netifaces==0.10.9
numpy==1.21.2
olefile==0.46
parso==0.7.1
pexpect==4.8.0
Pillow==8.1.2
pip==20.3.4
pluggy==1.0.0
pyasn1==0.4.8
pycairo==1.16.2
pycodestyle==2.6.0
pycurl==7.43.0.6
pyenchant==3.2.0
pyflakes==2.2.0
Pygments==2.7.1
PyGObject==3.38.0
pygtkspellcheck==4.0.5
pynvim==0.4.2
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
PySimpleSOAP==1.16.2
python-apt==2.2.1
python-dateutil==2.8.1
python-debian==0.1.39
python-debianbts==3.1.0
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-magic==0.4.20
pyxattr==0.7.2
PyYAML==5.3.1
reportbug==7.10.3+deb11u1
reportlab==3.5.59
requests==2.25.1
roman==2.0.0
rsa==4.0
s3transfer==0.3.4
setproctitle==1.2.1
setuptools==52.0.0
six==1.16.0
soupsieve==2.2.1
speedtest-cli==2.1.3
supervisor==4.2.2
trezor==0.12.2
typing-extensions==3.7.4.3
ujson==4.2.0
urllib3==1.26.5
vboxapi==1.0
virtualenv==20.4.0+ds
webencodings==0.5.1
wheel==0.34.2
youtube-dl==2021.6.6
zipp==1.0.0
